{% extends "base.html" %}
{% block title %}Thermos | index{% endblock %}
{% block content %}
    <section>
        <h1>Add new URL</h1>
        <form action="" method="post">
            <article>
                <p>
                    please enter your bookmark: <input type="text" name="url">
                </p>
                <p>
                    <button type="submit">Submit</button>
                </p>
            </article>
        </form>
    </section>
{% endblock %}
{% block sidebar %}
{% endblock %}