{% extends "base.html" %}
{% block title %}Thermos | index{% endblock %}
{% block content %}
<article>
    <header>
        <h1>Welcome</h1>
        <p>This is thermos project based on python flask microframework. And this course will help me learn more about flask and it's usecases</p>
    </header>
    <section>
        <h2>Recently Added</h2>
        {% if new_bookmarks %}
            <ul>
            {% for bm in new_bookmarks %}
                <li>{{ bm.user }} added <a href="{{ bm.url }}">{{ bm.url }}</a>  <p>{{ bm.description }}</p></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No bookmarks found</p>
        {% endif %}

    </section>
</article>
{% endblock %}
